{% extends 'base.html.twig' %}
{% block title %}Connexion{% endblock %}
{% block stylesheets %}{{ encore_entry_link_tags('login') }}{% endblock %}


{% block body %}
    <div class="token" data-csrftoken="{{ csrf_token('authenticate') }}"></div>
    <div class="pathlogin" data-pathlogin="{{ path('app_login') }}"></div>
    <div id="login"></div>
{% endblock %}
{% block javascripts %}{{ encore_entry_script_tags('login') }}{% endblock %}
