{% extends 'base.html.twig' %}
{% block title %}Administration{% endblock %}
{% block stylesheets %}{{ encore_entry_link_tags('admin') }}{% endblock %}


{% block body %}
    <div id="react"></div>
{% endblock %}
{% block javascripts %}{{ encore_entry_script_tags('admin') }}{% endblock %}
